  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>

  $(document).ready(function(){
        io = io.connect();
         $('#former').hide();
         $('#update_former').hide();
        // Send the ready event.
          //io.emit('ready');


        // form submission

        $('#update_former').submit(function(event){
          $('#former').hide();
          $('#update_former').show();
          io.emit('ready_update', { message: $('#upmessage').val() });
          return false;
        });

        $('#former').submit(function(event){
          $('#former').hide();
          $('#update_former').show();
          io.emit('ready', { message: $('#message').val() });
          return false;
        });

        $('#name_form').submit(function(event){
          io.emit('got_a_new_user', {name: $('#my_name').val() });
          return false;
        });
        // form submission


        // Listen for the new visitor event.
        io.on('new visitor update', function(yep) {
          var up = "#"+yep.sess;
          $(up).html('<p>' + yep.name +'</p><p>' + yep.message +'</p>');
        });

        io.on('new visitor', function(yep) {
          $('#messages').append('<div class="box" id="'+yep.sess+'"><p>' + yep.name +'</p><p>' + yep.message +'</p></div>');
        });

        io.on('new_user', function(yep) {
          $('#success').html('<p>' + yep.name +'</p>');
         $('#former').show();
         $('#name_form').hide();
          // $('#forms').html('<form id="former"><p>Enter a message:</p><input type="text" id="message" name="message" placeholder="Message" /><input type="submit" value="Submit" /></form>');
        });

        // Listen for the new visitor event.

  });
  </script>
  <link rel="stylesheet" href="/stylesheets/style.css">

    <div id="wrapper">
   <% if(session_data.sessionID)
       { %>
        <div id="success"><%= session_data.name %></div>
    <% } %>   
      <div id="success"></div>
      <div id="forms">
        <form id="name_form">
          Please enter your name:
          <input type="text" id="my_name" name="my_name" placeholder="Name" />
          <input type="submit" value="Submit" />
        </form>
        <form id="former">
          <p>Enter a message:</p>
          <input type="text" id="message" name="message" placeholder="Message" />
          <input type="submit" value="Submit" />
        </form>
        <form id="update_former">
          <p>Update a message:</p>
          <input type="text" id="upmessage" name="upmessage" placeholder="Update Message" />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div id="messages"></div>
    </div>

<!--     
    <div id="wrapper">
      <div id="success"></div>
      <form id="former">
        <input type="text" id="my_name" name="my_name" placeholder="Name" />
        <input type="text" id="message" name="message" placeholder="Message" />
        <input type="submit" value="Submit" />
      </form>
      <div id="messages"></div>
    </div> -->